<div>
    <h2 id="page-heading">
        <span>Pessoas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pessoa" [routerLink]="['/pessoa/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Pessoa
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pessoas?.length === 0">
        <span>No pessoas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pessoas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Nome</span></th>
                    <th scope="col" ><span>Cpf</span></th>
                    <th scope="col" ><span>Data Nascimento</span></th>
                    <th scope="col" ><span>Data Cadastro</span></th>
                    <th scope="col" ><span>Endereco</span></th>
                    <th scope="col" ><span>Categoria</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pessoa of pessoas ;trackBy: trackId">
                    <td><a [routerLink]="['/pessoa', pessoa.id, 'view']">{{ pessoa.id }}</a></td>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.cpf }}</td>
                    <td>{{ pessoa.dataNascimento | date:'mediumDate' }}</td>
                    <td>{{ pessoa.dataCadastro | date:'medium' }}</td>
                    <td>
                        <div *ngIf="pessoa.endereco">
                            <a [routerLink]="['/endereco', pessoa.endereco?.id, 'view']" >{{ pessoa.endereco?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="pessoa.categoria">
                            <a [routerLink]="['/categoria', pessoa.categoria?.id, 'view']" >{{ pessoa.categoria?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pessoa', pessoa.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pessoa', pessoa.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pessoa)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
