<div>
    <h2 id="page-heading">
        <span>Enderecos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-endereco" [routerLink]="['/endereco/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Endereco
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="enderecos?.length === 0">
        <span>No enderecos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="enderecos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Nome</span></th>
                    <th scope="col" ><span>Logradouro</span></th>
                    <th scope="col" ><span>Numero</span></th>
                    <th scope="col" ><span>Referencia</span></th>
                    <th scope="col" ><span>Bairro</span></th>
                    <th scope="col" ><span>Cidade</span></th>
                    <th scope="col" ><span>Cep</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let endereco of enderecos ;trackBy: trackId">
                    <td><a [routerLink]="['/endereco', endereco.id, 'view']">{{ endereco.id }}</a></td>
                    <td>{{ endereco.nome }}</td>
                    <td>{{ endereco.logradouro }}</td>
                    <td>{{ endereco.numero }}</td>
                    <td>{{ endereco.referencia }}</td>
                    <td>{{ endereco.bairro }}</td>
                    <td>{{ endereco.cidade }}</td>
                    <td>{{ endereco.cep }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/endereco', endereco.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/endereco', endereco.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(endereco)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
