<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="endereco">
            <h2><span>Endereco</span> {{ endereco.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{ endereco.nome }}</span>
                </dd>
                <dt><span>Logradouro</span></dt>
                <dd>
                    <span>{{ endereco.logradouro }}</span>
                </dd>
                <dt><span>Numero</span></dt>
                <dd>
                    <span>{{ endereco.numero }}</span>
                </dd>
                <dt><span>Referencia</span></dt>
                <dd>
                    <span>{{ endereco.referencia }}</span>
                </dd>
                <dt><span>Bairro</span></dt>
                <dd>
                    <span>{{ endereco.bairro }}</span>
                </dd>
                <dt><span>Cidade</span></dt>
                <dd>
                    <span>{{ endereco.cidade }}</span>
                </dd>
                <dt><span>Cep</span></dt>
                <dd>
                    <span>{{ endereco.cep }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/endereco', endereco.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
