<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fatura">
            <h2><span>Fatura</span> {{ fatura.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Data Processamento</span></dt>
                <dd>
                    <span>{{ fatura.dataProcessamento }}</span>
                </dd>
                <dt><span>Valor</span></dt>
                <dd>
                    <span>{{ fatura.valor }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ fatura.status }}</span>
                </dd>
                <dt><span>Potuacao</span></dt>
                <dd>
                    <span>{{ fatura.potuacao }}</span>
                </dd>
                <dt><span>Pagamento</span></dt>
                <dd>
                    <div *ngIf="fatura.pagamento">
                        <a [routerLink]="['/pagamento', fatura.pagamento?.id, 'view']">{{ fatura.pagamento?.id }}</a>
                    </div>
                </dd>
                <dt><span>Cartao</span></dt>
                <dd>
                    <div *ngIf="fatura.cartao">
                        <a [routerLink]="['/cartao', fatura.cartao?.id, 'view']">{{ fatura.cartao?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fatura', fatura.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
