<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fatura-heading">Create or edit a Fatura</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dataProcessamento">Data Processamento</label>
                    <div class="input-group">
                        <input id="field_dataProcessamento" type="text" class="form-control" name="dataProcessamento" ngbDatepicker #dataProcessamentoDp="ngbDatepicker" formControlName="dataProcessamento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataProcessamentoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                           formControlName="valor"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="GERADA">GERADA</option>
                        <option value="ATRASADA">ATRASADA</option>
                        <option value="CANCELADA">CANCELADA</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_potuacao">Potuacao</label>
                    <input type="number" class="form-control" name="potuacao" id="field_potuacao"
                           formControlName="potuacao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pagamento">Pagamento</label>
                    <select class="form-control" id="field_pagamento" name="pagamento" formControlName="pagamento">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pagamentoOption.id === editForm.get('pagamento')!.value?.id ? editForm.get('pagamento')!.value : pagamentoOption" *ngFor="let pagamentoOption of pagamentos; trackBy: trackById">{{ pagamentoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_cartao">Cartao</label>
                    <select class="form-control" id="field_cartao" name="cartao" formControlName="cartao">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cartaoOption.id === editForm.get('cartao')!.value?.id ? editForm.get('cartao')!.value : cartaoOption" *ngFor="let cartaoOption of cartaos; trackBy: trackById">{{ cartaoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
