<div>
    <h2 id="page-heading">
        <span>Produtos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produto" [routerLink]="['/produto/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Produto
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="produtos?.length === 0">
        <span>No produtos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="produtos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Nome</span></th>
                    <th scope="col" ><span>Local</span></th>
                    <th scope="col" ><span>Data</span></th>
                    <th scope="col" ><span>Valor</span></th>
                    <th scope="col" ><span>Fatura</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of produtos ;trackBy: trackId">
                    <td><a [routerLink]="['/produto', produto.id, 'view']">{{ produto.id }}</a></td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.local }}</td>
                    <td>{{ produto.data | date:'mediumDate' }}</td>
                    <td>{{ produto.valor }}</td>
                    <td>
                        <div *ngIf="produto.fatura">
                            <a [routerLink]="['/fatura', produto.fatura?.id, 'view']" >{{ produto.fatura?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/produto', produto.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/produto', produto.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(produto)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
