<div>
    <h2 id="page-heading">
        <span>Pagamentos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pagamento" [routerLink]="['/pagamento/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Pagamento
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pagamentos?.length === 0">
        <span>No pagamentos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pagamentos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Data</span></th>
                    <th scope="col" ><span>Valor</span></th>
                    <th scope="col" ><span>Nome Banco</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pagamento of pagamentos ;trackBy: trackId">
                    <td><a [routerLink]="['/pagamento', pagamento.id, 'view']">{{ pagamento.id }}</a></td>
                    <td>{{ pagamento.data | date:'mediumDate' }}</td>
                    <td>{{ pagamento.valor }}</td>
                    <td>{{ pagamento.nomeBanco }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pagamento', pagamento.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pagamento', pagamento.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pagamento)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
