<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pagamento">
            <h2><span>Pagamento</span> {{ pagamento.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Data</span></dt>
                <dd>
                    <span>{{ pagamento.data }}</span>
                </dd>
                <dt><span>Valor</span></dt>
                <dd>
                    <span>{{ pagamento.valor }}</span>
                </dd>
                <dt><span>Nome Banco</span></dt>
                <dd>
                    <span>{{ pagamento.nomeBanco }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pagamento', pagamento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
