<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cartao-heading">Create or edit a Cartao</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_mesValidade">Mes Validade</label>
                    <input type="number" class="form-control" name="mesValidade" id="field_mesValidade"
                           formControlName="mesValidade"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_anoValidade">Ano Validade</label>
                    <input type="number" class="form-control" name="anoValidade" id="field_anoValidade"
                           formControlName="anoValidade"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_codigoSeguranca">Codigo Seguranca</label>
                    <input type="number" class="form-control" name="codigoSeguranca" id="field_codigoSeguranca"
                           formControlName="codigoSeguranca"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="BLOQUEADO">BLOQUEADO</option>
                        <option value="LIBERADO">LIBERADO</option>
                        <option value="ROUBADO">ROUBADO</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_limiteCreditos">Limite Creditos</label>
                    <input type="number" class="form-control" name="limiteCreditos" id="field_limiteCreditos"
                           formControlName="limiteCreditos"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dono">Dono</label>
                    <select class="form-control" id="field_dono" name="dono" formControlName="dono">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pessoaOption.id === editForm.get('dono')!.value?.id ? editForm.get('dono')!.value : pessoaOption" *ngFor="let pessoaOption of pessoas; trackBy: trackById">{{ pessoaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
