<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cartao">
            <h2><span>Cartao</span> {{ cartao.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Numero</span></dt>
                <dd>
                    <span>{{ cartao.numero }}</span>
                </dd>
                <dt><span>Mes Validade</span></dt>
                <dd>
                    <span>{{ cartao.mesValidade }}</span>
                </dd>
                <dt><span>Ano Validade</span></dt>
                <dd>
                    <span>{{ cartao.anoValidade }}</span>
                </dd>
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{ cartao.nome }}</span>
                </dd>
                <dt><span>Codigo Seguranca</span></dt>
                <dd>
                    <span>{{ cartao.codigoSeguranca }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ cartao.status }}</span>
                </dd>
                <dt><span>Limite Creditos</span></dt>
                <dd>
                    <span>{{ cartao.limiteCreditos }}</span>
                </dd>
                <dt><span>Dono</span></dt>
                <dd>
                    <div *ngIf="cartao.dono">
                        <a [routerLink]="['/pessoa', cartao.dono?.id, 'view']">{{ cartao.dono?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cartao', cartao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
