<div>
    <h2 id="page-heading">
        <span>Cartaos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cartao" [routerLink]="['/cartao/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Cartao
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cartaos?.length === 0">
        <span>No cartaos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cartaos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Numero</span></th>
                    <th scope="col" ><span>Mes Validade</span></th>
                    <th scope="col" ><span>Ano Validade</span></th>
                    <th scope="col" ><span>Nome</span></th>
                    <th scope="col" ><span>Codigo Seguranca</span></th>
                    <th scope="col" ><span>Status</span></th>
                    <th scope="col" ><span>Limite Creditos</span></th>
                    <th scope="col" ><span>Dono</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartao of cartaos ;trackBy: trackId">
                    <td><a [routerLink]="['/cartao', cartao.id, 'view']">{{ cartao.id }}</a></td>
                    <td>{{ cartao.numero }}</td>
                    <td>{{ cartao.mesValidade }}</td>
                    <td>{{ cartao.anoValidade }}</td>
                    <td>{{ cartao.nome }}</td>
                    <td>{{ cartao.codigoSeguranca }}</td>
                    <td>{{ cartao.status }}</td>
                    <td>{{ cartao.limiteCreditos }}</td>
                    <td>
                        <div *ngIf="cartao.dono">
                            <a [routerLink]="['/pessoa', cartao.dono?.id, 'view']" >{{ cartao.dono?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cartao', cartao.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cartao', cartao.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cartao)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
